/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'Kenia';
  src: url('kenia.woff2') format('woff2'),
       url('kenia.woff') format('woff');
}



/* --- NAVBAR ---*/

.navbar-brand img {
  max-height: 100px;
}

.navbar {
  background-color: #2E2449;
}

.navbar-dark .navbar-toggler {
  border: none;
  color: #FFC800
}

.navbar-toggler {
  color: #FFC800;
}

.nav-item {
  font-family: 'Kenia', sans-serif;
  color: #FFC800;
}

.navbar-nav {
  margin: auto;
}

.navbar-nav .nav-item {
  text-align: right;
  padding-right: 50px;
  font-size: 50px;
  color: #2E2449;
}

.nav-link {
  color: #2E2449;
}



/* --- HOME PAGE ---*/

.header-home {
  background-color: #2e2449;
}

.header-home h1 {
  color: #FFC800;
  text-align: center;
  font-family: 'Kenia', sans-serif;
  font-size: 50px;
  padding: 20px;
}



/* --- WELCOME --- */

.main {
  background-color: #1E1C3F;
  padding: 25px; 
}

.welcome .container h2, p {
  color: white;
  text-align: center;
}

.welcome .container h2 {
  color: white;
  text-align: center;
  font-family: 'Kenia', sans-serif;
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.welcome .container p {
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.btn-primary {
  display: inline-block;
  padding: 5px 25px;
  margin: 20px;
  background-color: #ffc800;
  color: #1d1d1f;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 25px;
  font-family: 'Kenia', sans-serif;
  text-transform: lowercase;
  font-size: 27px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  transform: scale(1.2); 
  color: #1d1d1f;
  text-decoration: none;
  background-color: #FFC800;
}



/* -- SERVICES -- */

.box {
  background-color: #f5f5f7;
  border: 5px solid #000000; 
  border-radius: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.box img {
  max-width: 20%;
}

.box h3 {
  font-size: 24px;
  margin-top: 10px;
  font-size: 14px;
  color: #1d1d1f;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
}

.box p {
  font-size: 16px;
  line-height: 1.2;
  font-size: 13px;
  color: #1d1d1f;
  font-family: 'Montserrat', sans-serif;
  padding: 11px;
}



/* -- FOOTER -- */

footer {
  background-color: #1E1C3F;
  color: #f5f5f7;
  text-align: center;
  padding: 20px 0;
  position: relative;
}

footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 5px;
  background-color: #ffc800;
  margin: 0 10%;
  border-radius: 10px 10px 10px 10px;
}

footer .container {
  background-color: #1E1C3F; 
  padding: 25px;
}

footer a {
  color: #f5f5f7; 
  font-family: 'Montserrat', sans-serif;
  text-align: left;
}

footer .page-links {
  text-align: left;
  margin-bottom: 10px;
  margin-left: 25px;
  
}

.social-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-links a {
  margin-left: 20px;
}

.social-links img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 25px;
  margin-top: -70px;
  }



/* ---//// ABOUT PAGE ////--- */

.main {
  background-color: #1E1C3F;
  padding: 25px; 
}

.about img {
  display: block;
  margin: 10px auto 40px auto;
  max-width: 50%;
  height: auto;
  border-radius: 50%;

}

.about .container h2, p {
  color: white;
  text-align: center;
}

.about .container h2 {
  color: #FFC800;
  text-align: center;
  font-family: 'Kenia', sans-serif;
  font-size: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about .container p {
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.btn-primary {
  display: inline-block;
  padding: 3px 20px;
  margin: 20px;
  background-color: #ffc800;
  color: #1d1d1f;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 25px;
  font-family: 'Kenia', sans-serif;
  text-transform: lowercase;
  font-size: 27px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  transform: scale(1.2); 
  color: #1d1d1f;
  text-decoration: none;
  background-color: #FFC800;
}




/* ---//// CONTACT PAGE ////--- */

/* --- header --- */ 

.contact {
  background-color: #2e2449;
}

.contact h1 {
  color: #FFC800;
  text-align: center;
  font-family: 'Kenia', sans-serif;
  font-size: 50px;
  padding: 20px;
}

/* --- links --- */

.contact-links {
  display: flex;
  justify-content: center;
}

.contact-links img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 25px;
  margin-top: 40px;
  margin-bottom: 40px;
}


.contact-main h2, p {
  color: #f5f5f7;
  text-align: center;
}

.contact-main h2 {
  color: #f5f5f7;
  text-align: center;
  font-family: 'Kenia', sans-serif;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
  
}

.contact-main p {
  font-family: 'Montserrat', sans-serif;
  padding-top: 10px;
  font-size: 16px;
  padding-bottom: 30px;
}


.col-md-6 li a{
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.form-link {
  padding-bottom: 15px;
  padding-left: 35px
  
}

/*--- form ---*/


.contact-form {
  width: 80%;
  margin: 0 auto;
}

.form label {
  color: #f5f5f7;
  font-family: 'Kenia', sans-serif;
  font-size: 20px;
  padding-bottom: 5px;
}

.form button {
  padding: 0px 30px;
}


/* ---//// MEDIA QUERY ////--- */

/* mobile exceptions */

@media (max-width: 767px) {
  .copyright {
    display: none;
  }

  .navbar-brand2 img {
    display: none;
  }

  .graphic h3, .graphic p, .webdev h3, .webdev p, .cms h3, .cms p, .branding h3, .branding p {
    display: none;
  }

  .tab-desktop-services {
    display: none;
  }

  .tablet-about h2 {
    display: none;
  }

  .tablet-contact h2 {
    display: none;
  }

  .about-links {
    display: none;
  }

  .main {
    background-image: url(../img/mobile-bg.png);
    background-size: cover;
  }

  
} /*  REMINDER! mobile query bracket, don't delete it (must be yellow) */

/* ---//// MOBILE VERSION FINISHED ////--- */

/* ---//// TABLET VERSION ////--- */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  
.container {
  width: 100%;
}

.main {
  background-image: url(../img/tablet-bg.png);
  background-size: cover;
}

/* logo change */

.navbar-brand img {
  display: none;
}

.navbar-brand2 img {
  width: 250px;
  margin-top: 20px;
  margin-left: -10px;
}

.about-links {
  display: none;
}

/* Change background color and add borders to nav-items */

  
.navbar-nav {
  display: flex;
  justify-content: right;
  background-color: #2E2449;
  width: 420px;
}

.navbar-nav .nav-item {
  display: inline-block;
  padding: 0px 15px;
  margin: 5px;
  background-color: #1E1C3F;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #f5f5f7;
  border-radius: 10px;
  font-family: 'Kenia', sans-serif;
  text-transform: lowercase;
  font-size: 20px;
}




  /* ==== TABLET HOME PAGE ==== */ 


/* hide header */
.header-home {
  display: none;
}


/* Change  h2 color */
.welcome .container h2 {
  color: #ffc800;
}


/* Make  p narrower */
.welcome .container p {
  max-width: 430px;
  margin: 0 auto;
}


/* button */
.btn-primary {
  display: inline-block;
  padding: 5px 30px;
  margin: -10px;
}


/* service boxes */

.mobile-services {
  display: none;
}

.tab-desktop.box {
  background-color: #f5f5f7;
  border: 5px solid #000000; 
  border-radius: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 160px;
  height: 100px;
}

.tab-desktop-box img {
  max-width: 20%;
}


.tab-desktop-services {
  width: 710px;
}

.tab-desktop-services h3 {
  font-size: 24px;
  font-size: 14px;
  color: #f5f5f7;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.tab-desktop-services p {
  font-size: 12px;
  line-height: 1.2;
  font-size: 13px;
  color: #f5f5f7;
  font-family: 'Montserrat', sans-serif;
  padding: 11px;
}

.tab-desktop-services img {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 160px;
  margin: auto auto;
  margin-bottom: 20px;
  background-color: #DFDFDF;
  border: 4px solid black;
  border-radius: 15px;
  overflow: hidden;
  padding: 10px 40px;
} 

.tab-desktop-graphic, .tab-desktop-cms, .tab-desktop-webdev, .tab-desktop-branding {
  margin-bottom: 20px;
}

.tab-desktop-graphic, .tab-desktop-cms  {
  display: flex;
  justify-content: flex-start;
}

.tab-desktop-webdev, .tab-desktop-branding {
  display: flex;
  justify-content: flex-end;
}


.tab-desktop-graphic h3, .tab-desktop-cms  h3 {
  text-align: left;
  margin-left: 10px; 
}

.tab-desktop-webdev h3, .tab-desktop-branding  h3 {
  text-align: right;
  margin-right: 10px;
}

.tab-desktop-graphic p, .tab-desktop-cms  p {
  text-align: left;
  width: 300px;
}

.tab-desktop-webdev p, .tab-desktop-branding  p {
  text-align: right;
  width: 300px;
}





/* -- TABLET FOOTER -- */

footer {
  display: flex;
}

footer .container .row {
  width: 700px;
}

footer::before {
  content: "";
  width: 80%;
  height: 4px;
  background-color: #ffc800;
  border-radius: 10px 10px 10px 10px;
}

.page-links {
  display: flex;
  font-size: 10px;
}

.page-links li {
  margin-right: 20px;
}


.social-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social-links a {
  margin-left: 20px;
}

.social-links img {
  width: 21px;
  height: 20px;
  object-fit: cover;
  margin-right: 5px;
}

.copyright {
  color: #f5f5f7; 
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  padding-left: 40px;
}




/* ==== TABLET ABOUT PAGE ==== */

.about img {
  display: block;
  margin: 10px auto 40px auto;
  max-width: 100%;
  height: auto;
  border-radius: 5%;
}

.about .container .mobile-about h2 {
  display: none;
}

.mobile-about {
  display: flex;
}

.btn-primary {
  padding: 1px 10px;
  margin: auto;
  border-radius: 15px;
  font-size: 25px;
}


/* boxes */

.about-links {
  display: flex;
  gap: 15px;
}

.about-box {
  background-color: #f5f5f7;
  border: 5px solid #000000; 
  border-radius: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 160px;
  height: 100px;
}

.about-box img {
  width: 70px;
  height: 90px;
  padding-bottom: 15px;
  }



/* ====  TABLET CONTACT PAGE ==== */
  
.contact .container h1 {
  display: none;
}

.tablet-contact h2 {
  color: #FFC800;
  padding: 40px;
}

.contact-form {
  width: 90%;
  margin: 0 auto;
}

.form {
  margin-bottom: -1px;
}

.form button {
  margin-bottom: 30px;
  padding: 0px 15px;
  font-size: 20px;
  }
  

.form-link {
  display: none;
}

.contact-icons {
  display: flex;
}

.contact-p {
  margin-top: 80px;
}

.contact-p p {
  font-size: 15px;
  width: 300px;
}

 
} /*  REMINDER! tablet query bracket, don't delete it (must be yellow) */

/* ---//// TABLET VERSION FINISHED ////--- */






/* ---//// DEKSTOP VERSION ////--- */



@media only screen and (min-width: 1024px) {
  
.container {
  width: 1200px;
}

.desktop-background {
  width: 1225px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -90px;
  background-image: url(../img/desktop-bg.png);
  background-size: cover;
}



  /* logo change */

.navbar-brand img {
  display: none;
}

.navbar-brand2 img {
  width: 250px;
  margin-top: 20px;
  margin-left: -10px;
  transition: all 0.3s ease;
}

.navbar-brand2 img:hover {
  transform: scale(1.1); 
}

.about-links {
  display: none;
}


/* Change background color and add borders to nav-items */

  
.navbar-nav {
  display: flex;
  justify-content: right;
  background-color: #2E2449;
  width: 100%;
}

.navbar-nav .nav-item {
  display: flex;
  padding: 0px 15px;
  margin: 5px;
  background-color: #1E1C3F;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #f5f5f7;
  border-radius: 10px;
  font-family: 'Kenia', sans-serif;
  text-transform: lowercase;
  font-size: 20px;
  transition: all 0.3s ease;
}

.navbar-nav .nav-item:hover {
  transform: scale(1.1); 
}




/* ==== DESKTOP HOME PAGE ==== */

/* hide header */
.header-home {
  display: none;
}

.welcome {
  padding-top: 120px;
}

/* Change  h2 size */
.welcome .container h2 {
  font-size: 65px;
  margin-bottom: 20px;
}

/* Make  p narrower */
.welcome .container p {
  max-width: 500px;
  margin: 0 auto;
  line-height: 20px;
}

/* button */
.btn-primary {
  display: inline-block;
  padding: 5px 40px;
  margin-top: -20px;
}

.btn-primary:hover {
  transform: scale(1.2); 
  color: #1d1d1f;
  text-decoration: none;
  background-color: #f5f5f7;
  border: 1px solid #FFC800;
}

/* service boxes */

.mobile-services {
  display: none;
}
  
.tab-desktop.box {
  background-color: #f5f5f7;
  border: 5px solid #000000; 
  border-radius: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 180px;
  height: 120px;
}

.tab-desktop-box img {
  max-width: 20%;
}


.tab-desktop-services {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  width: 100%;
  grid-template-areas:
    "a b"
    "c d"
}

.tab-desktop-services :nth-child(1) {grid-area: a}
.tab-desktop-services :nth-child(2) {grid-area: b}
.tab-desktop-services :nth-child(3) {grid-area: c}
.tab-desktop-services :nth-child(4) {grid-area: d}

.tab-desktop-services h3 {
  font-size: 16px;
  color: #f5f5f7;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.tab-desktop-services p {
  line-height: 1.2;
  font-size: 14px;
  color: #f5f5f7;
  font-family: 'Montserrat', sans-serif;
  padding: 11px;
}

.tab-desktop-services img {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 160px;
  margin: auto auto;
  margin-bottom: 20px;
  background-color: #DFDFDF;
  border: 4px solid black;
  border-radius: 15px;
  overflow: hidden;
  padding: 10px 40px;
} 


.tab-desktop-graphic, .tab-desktop-cms, .tab-desktop-webdev, .tab-desktop-branding {
  padding-bottom: 30px;
}

.tab-desktop-graphic, .tab-desktop-cms  {
  display: flex;
  justify-content: flex-start;
}

.tab-desktop-webdev, .tab-desktop-branding {
  display: flex;
  justify-content: flex-end;
}


.tab-desktop-graphic h3, .tab-desktop-cms  h3 {
  text-align: left;
  margin-left: 10px; 
}

.tab-desktop-webdev h3, .tab-desktop-branding  h3 {
  text-align: right;
  margin-right: 10px;
}

.tab-desktop-graphic p, .tab-desktop-cms  p {
  text-align: left;
  width: 350px;
}

.tab-desktop-webdev p, .tab-desktop-branding  p {
  text-align: right;
  width: 350px;
}




/* -- DESKTOP FOOTER -- */

footer {
  display: flex;
}

footer .container .row {
  width: 1200px;
}

footer::before {
  content: "";
  width: 1230px;
  margin-left: 340px;
  height: 4px;
  background-color: #ffc800;
  border-radius: 10px 10px 10px 10px;
}

.page-links {
  display: flex;
  font-size: 15px;
}

.page-links li {
  margin-right: 20px;
}


.social-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social-links a {
  margin-left: 20px;
}

.social-links img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-right: 5px;
}

.copyright {
  color: #f5f5f7; 
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  padding-left: 40px;
  margin-left: 400px;
}




/* ==== DESKTOP ABOUT PAGE ==== */

.about img {
  display: block;
  margin: 10px auto 40px auto;
  max-width: 70%;
  height: auto;
  border-radius: 5%;
}

.about .container .mobile-about h2 {
  display: none;
}

.mobile-about {
  display: flex;
}

.btn-primary {
  padding: 1px 10px;
  margin: auto;
  border-radius: 15px;
  font-size: 25px;
}

.about h2 {
margin-bottom: 50px;
}


/* boxes */

.about {
  padding-top: 100px;
}

.about-links {
  display: flex;
  gap: 100px;
}

.about-box {
  background-color: #f5f5f7;
  border: 5px solid #000000; 
  border-radius: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 140px;
}

.about-box img {
  width: 110px;
  height: 130px;
  padding-bottom: 15px;
}

.desktop-background .button-container .btn-primary {
  padding: 1px 10px;
  margin-top: -20px;
  border-radius: 20px;
  font-size: 35px;
}

.mobile-about p {
  width: 50%;
  margin-top: 50px;
}



/* ==== DESKTOP CONTACT PAGE ==== */

/*header*/

.contact .container h1 {
  display: none;
}

.tablet-contact h2 {
font-size: 70px;
padding-top: 120px;
}

/*content*/

.contact-p p {
  font-size: 15px;
  width: 500px;
  padding-left: 120px;
}

/* form */

.form {
  padding-bottom: 50px;
}

.list-unstyled {
  padding-left: 35px;
}


} /* REMINDER! desktop query bracket, don't delete it (must be yellow) */




